@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using  ASP_CA.Controllers
@{
    var viewcart = (List<CartProduct>)ViewData["ViewCart"];
    int total = (int)ViewData["AllTotalPrice"];
}
<style>
    table, th, tr {
        border: 1px solid black;
    }

    .btn {
        background: white;
    }

    div.container4 {
        height: 10em;
        position: relative
    }

        div.container4 p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
            
        }

    .emptyfont {
        font-size: 40px
    }
    .btn {
        background: white;
    }

    
    }
</style>
<script>
    function checkLogin() {
        alert('Please Log In');
    }
    function thankspurchase() {
        alert('Thanks for purchase! Enjoy your day!!')
    }
    function reachlowlimit() {
        alert('You have reach the lowest amount')
    }
</script>


@if (total != 0)
{
<div>Total Price: $@ViewData["AllTotalPrice"]</div>
}


@if (total != 0)
{
    @if (ViewData["Name"] == null)
    {
        <input class="btn" type="submit" value="Checkout" onclick="checkLogin()" />
    }
    else
    {
        <a class="btn" onclick="thankspurchase()" asp-area="" asp-controller="Cart" asp-action="Checkout">Checkout</a>
    }
}

@if (ViewData["Name"] != null)
{
    <a class="btn" asp-area="" asp-controller="MyPurchases" asp-action="Index">My Purchases</a>
}


@if (total != 0)
{
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
        </tr>
        @foreach (var product in viewcart)
        {
            <tr>
                <th>@product.ProductName</th>
                <th>$@product.ProductPrice</th>
                <th>@product.ProductDesc</th>
                <th>@product.ProductQuantity</th>
                <th>$@product.ProductTotal</th>
                <th>
                    <form id="form" action="/Cart/PlusOne" method="post">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <input class="btn" type="submit" value="+" />
                    </form>
                </th>
                @if (product.ProductQuantity > 1)
                {
                    <th>
                        <form id="form" action="/Cart/MinusOne" method="post">
                            <input type="hidden" name="productId" value="@product.ProductId" />
                            <input class="btn" type="submit" value="-" />
                        </form>
                    </th>
                }
                else
                {
                    <th>
                        <input class="btn" type="submit" onclick="reachlowlimit()" value="-" />
                    </th>
                }

                <th>
                    <form id="form" action="/Cart/Remove" method="post">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <input class="btn" type="submit" value="Remove" />
                    </form>
                </th>
            </tr>
        }
    </table>
}
else
{
    <div class="container4 emptyfont">
        <p>Empty Cart!
    </div>
    <div class="container4">
        <form action="/Gallery/Index" method="post">
            <p><input class="container4" type="submit" value="Continue Shopping" />
        </form>
    </div>
}

@if (total != 0)
{
    <a class="btn" asp-area="" asp-controller="Cart" asp-action="ClearCart">Clear Cart</a>
}
